{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'global/favicon.ico' %}" type="image/x-icon">
    <meta name="description" content="Restaurant menu app built with Django and Bootstrap.">
    <link rel="stylesheet" href="{% static 'global/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/font/bootstrap-icons.min.css' %}">
</head>
<body>
<header>
    {% include 'core/partials/navbar.html' %}
</header>

<main>
    {% if messages %}
        {% include 'core/partials/message.html' with messages=messages %}
    {% endif %}

    {% block content %}{% endblock %}
</main>

<footer>
    {% include 'core/partials/footer.html' %}
</footer>

<script src="{% static 'global/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'core/js/theme_toggler.js' %}"></script>
{% block scripts %}
{% endblock %}
</body>
</html>