<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'global/css/pico.min.css' %}">
</head>
<body>
    <header class="container">
        <nav>
            <ul>
                <li><a href="{% url 'core:home' %}">Home</a></li>
                <li><a href="{% url 'menu:menu' %}">Menu</a></li>
                {% if perms.menu.can_create_item %}
                    <li><a href="{% url 'menu:new_item' %}">Add Item</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main class="container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% block content %}{% endblock %}
    </main>

    <footer class="container">
        {% block footer %}{% endblock %}
    </footer>

    {% block scripts %}
    {% endblock %}
</body>
</html>