{% extends "core/base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% include 'core/partials/carousel.html' %}

    {% if special_items %}
        <div class="container-lg my-3">
            <h2 class="text-center mb-4">Special Items</h2>

            <div class="special-display-container border rounded p-2">
                {% for item in special_items %}
                    <div class="special-item p-1">
                        {% include 'menu/partials/item_card.html' with item=item %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block footer %}
    {% include 'core/partials/footer.html' %}
{% endblock %}