{% extends "core/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% include 'core/partials/carousel.html' %}

    {% if special_items %}
        <div class="container-fluid my-3">
            <h2 class="text-center mb-4">Special Items</h2>

            <div class="container justify-content-center border p-2 rounded">
                <div class="special-item-container">
                    {% for item in special_items %}
                        <div class="special-item p-2">
                            {% include 'menu/partials/item_card.html' with item=item %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
