{% extends "core/base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container-fluid my-3">

        <div class="d-flex justify-content-center">
            <form method="GET" class="w-100 shadow-sm">
                <div class="input-group">
                    {% include 'menu/partials/search_bar.html' %}
                    <button type="button" class="btn btn-primary item-search-btn">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="row my-3" id="category-container">
        </div>
    </div>
    {% if perms.menu.add_category %}
        <a href="{% url 'menu:new_category' %}" class="btn btn-primary position-fixed bottom-0 end-0 mb-3 me-3">New
            Category</a>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'menu/js/fetch_category.js' %}"></script>
    {% if perms.menu.delete_category %}
        <script type="module" src="{% static 'menu/js/delete_category.js' %}"></script>
    {% endif %}
{% endblock %}