{% extends "core/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{% for item in items %}
    <article>
        <a href="{% url 'menu:item_detail' item.pk %}">
            {% if item.image %}
                <img src="{{ item.image.url }}" alt="{{ item.name }}">
            {% endif %}
            <h2>{{ item.name }}</h2>
        </a>
        {% if item.out_of_stock %}
            <p><strong>Out of Stock</strong></p>
        {% else %}
            <p><strong>In Stock</strong></p>
        {% endif %}
        <p><strong>Price: </strong> {{ item.price }} {{ item.currency }}</p>
        {% if perms.menu.can_edit_item %}
            <a href="{% url 'menu:edit_item' pk=item.id %}">Edit</a>
        {% endif %}
        {% if perms.menu.can_delete_item %}
            <a href="{% url 'menu:delete_item' pk=item.id %}">Delete</a>
        {% endif %}
    </article>
{% endfor %}
{% endblock %}