<div class="container">
    <div class="d-flex flex-wrap justify-content-between py-3 my-4 border-top">
        <a href="https://github.com/The-Accidental-Game-Devs/menu_listing_website" target="_blank"
           class="text-center mb-0"><strong>Menu Listing Website Github</strong></a>
        <ul class="nav col-md-6 justify-content-end">
            <li class="nav-item">
                <a class="nav-link px-2 text-body-secondary" href="{% url 'core:home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2 text-body-secondary" href="{% url 'menu:menu' %}">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2 text-body-secondary" href="{% url 'menu:category' %}">Category</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2 text-body-secondary" href="{% url 'core:learn_more' %}">Learn more</a>
            </li>
        </ul>
    </div>
</div>